

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

  /*-- Navigation */
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #000000;

	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #000000;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
  /*-- the end of Navigation */



.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("dos_640_463.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("bangnets_1280_720.jpg");
  min-height: 700px;
}

.bgimg-3 {
  background-image: url("lips_720_405.gif");
  min-height: 76%;
}

/*
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
*/


.caption span.border {
  background-color: #111;
  color: #fff;
  position: absolute;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 10px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h4 {
  /*border: 1px solid blue;*/
  text-align: center;
  margin: 0;
}

/*--Newspaper Column--*/
.heading_column {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  /*border: 1px solid red;*/
}
.paragraph_column {
  column-count: 4;
  column-rule: 1px double #ff00ff;
  column-gap: 5%;
  text-indent: 1em;
  padding: 0;
  margin: 0;
  /*border: 1px solid green;*/
  }

  /* About Section */

  .about {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    display: inline-block;
    /*background-color: #FFFFFF;*/
    margin-top: 0px;
    margin-bottom: 30px;
    /*border: 1px solid green;*/
  }


  .text_column {
  	width: 29%;
  	text-align: justify;
  	font-weight: lighter;
  	line-height: 25px;
  	float: left;
  	padding-left: 25px;
  	padding-right: 20px;
  	/*color: #A3A3A3;*/
    /*border: 2px dotted red;*/
  }


.footer {
  background-color:#282E34;
  text-align: left;
  font-size: 18px;
  color: #ddd;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  }

  .footer_copy {
    width: 70%;
    margin: 0;
    padding-top: 0px;
    padding-right: 2px;
    padding-bottom: 0px;
    padding-left: 2px;
    text-align: left;
    font-size: 13px;
  }







/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
